[ server_ext ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName=DNS:$CERTIFICATE_DOMAIN,DNS:$WEB_DOMAIN,DNS:$API_DOMAIN,DNS:$IDSVR_DOMAIN,DNS:api-internal.example.com,DNS:tokenhandler-internal.example.com,DNS:login-internal.example.com
extendedKeyUsage = serverAuth

[ client_ext ]
authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
extendedKeyUsage = clientAuth