[ server_ext ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName=DNS:mycompany.com,DNS:www.mycompany.com,DNS:api.mycompany.com,DNS:login.mycompany.com,DNS:api.internal-mycompany.com,DNS:tokenhandler.internal-mycompany.com,DNS:login.internal-mycompany.com
extendedKeyUsage = serverAuth

[ client_ext ]
authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
extendedKeyUsage = clientAuth